*.properties

###############
# Package Files
###############

#*.jar
*.war
*.ear

###############
# Intellj files
###############

/.idea/
/out/
*.iml

###############
# Eclipse files
###############

/bin/
/dist/
/result/
/news/
/.settings/
.classpath
.project
*.DS_Store
test.java

##################
# Yiwei Li
##################
/conf/